<link rel="stylesheet" href="../public/css/style.css" />

<nav>
  <ul>
    <li><a href="/menu">MENU</a></li>
    <li><a id="logo" href="/">DABI</a></li>
    <li><a id="login" href="/login">COMPTE</a></li>
    <li><a id="panier" href="/panier">PANIER</a></li>
  </ul>
</nav>
