* {
  padding: 0px;
  margin: 0px;
}
/* NavBar */
nav {
  background-color: rgb(139, 124, 124);
  color: #fff;
  text-align: center;
  padding: 40px;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  padding: 0 30px;
}
